body{
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background-color: hsl(30, 38%, 92%);
    color: hsl(212, 21%, 14%) ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    
}

.card{

    width: 50%;
    margin: 5em auto;
    background-color: #fdfdff;
    border-radius: 0.5em;
    box-shadow: 2px 3px 7px 2px rgb(0 0 0 / 2%);
    overflow: visible;
    display: flex;

}

@media(max-width:700px){
    .card{
        margin:0 auto;
        width: auto;
    }
}

.col{
    display: flex;
    width: 50%;
    overflow: visible;
    flex-direction: column;
    padding: 0.5em
}

img{
    width: 100%;
    height: 100%;
    border-radius: 0.5em 0 0 0.5em;
}

button{
    width: 100%;
    height: 3rem;
    padding: 1rem auto;
    font-size: 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: azure;
    background-color: hsl(158, 36%, 37%);
    border:none;
    border-radius: 10px;
    margin: 1.5em 0 0 0
}

#col2 {
    padding: 1em;
}

span{
    font-size: x-large;
    color:hsl(158, 36%, 37%);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}